<div>
  Olá, <strong>{{ student_name }}</strong>! <br>
  Sua pergunta para a GymPoint foi respondida.
  <p>
    Seguem os detalhes:<br />
    <strong>Pergunta:</strong> {{ question }}<br />
    <strong>Resposta:</strong> {{ answer }}<br />
    <strong>Respondida em:</strong> {{ answer_date }}<br />
  </p>
  <strong>Seguimos à disposição</strong> para quaisquer dúvidas.
</div>
